<div class="feedbackground">
    <br>
    <div class="logo">
        <a href="feed.html"><img src="assets/images/mw-logo-w.png" /></a>
    </div>
    <br>
    <div class="menu">
        <button id="wallet"><a href="wallets.html"><img src="./assets/images/feedicons/mywallet.png" class="responsive" /></a></button>
        <button id="playlists"><a href="playlists.html"><img src="./assets/images/feedicons/playlists.png" class="responsive" />
            </a></button>
    </div>
    <div class="trailer-box">
        <iframe src={{URL}} id="trailer-box" width="420" height="600"></iframe>
        <br><br> <br><br><br><br> <br> <br>
    </div>
    <div class="menu-box">
        <button id="yes" onclick="myFunction()"><img src="./assets/images/feedicons/yes.png" class="responsive"></button>
        <button id="no" onclick="myFunction()"><img src="./assets/images/feedicons/no.png" class="responsive"></button>
        <button id="maybe" onclick="myFunction()"><img src="./assets/images/feedicons/maybe.png" class="responsive"></button>
        <button id="info" onclick="myFunction()"><img src="./assets/images/feedicons/info.png" class="responsive"></button>
    </div>
</div>