<h1>{{title}}</h1>

{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">
        {{this.msg}}
        </div>
    {{/each}}
{{/if}}

<!--for isabel <button onclick="document.getElementById('').style.display='block'">SignUp</button>-->
<!DOCTYPE html> 
<html> 
<style> 
  
input[type=text], input[type=password] { 
    width: 100%; 
    padding: 12px 20px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
} 
  
  
button { 
    background-color: #4CAF50; 
    color: white; 
    padding: 14px 20px; 
    margin: 8px 0; 
    border: none; 
    cursor: pointer; 
    width: 100%; 
} 
  
  
.cancelbtn { 
    padding: 14px 20px; 
    background-color: #f44336; 
} 
  
  
.cancelbtn,.signupbtn {float:left;width:50%} 
  
  
.container { 
    padding: 16px; 
} 
  
  
.modal { 
    display: none;  
    position: fixed;  
    z-index: 1; left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%;  
    overflow: auto;  
    background-color: rgb(0,0,0);  
    background-color: rgba(0,0,0,0.4);  
    padding-top: 60px; 
} 
  
  
.modal-content { 
    background-color: #fefefe; 
    margin: 5% auto 15% auto;  
    border: 1px solid #888; 
    width: 80%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalopen;
    animation-duration: 1s;
} 
  
  
.close { 
    position: absolute; 
    right: 35px; 
    top: 15px; 
    color: #000; 
    font-size: 40px; 
    font-weight: bold; 
} 
  
.close:hover, 
.close:focus { 
    color: red; 
    cursor: pointer; 
} 
  
  
.clearfix::after { 
    content: ""; 
    clear: both; 
    display: table; 
} 
  
@keyframes modalopen{
    from{opacity: 0;}
    tp{opacity: 1;}

}

@media screen and (max-width: 300px) { 
    .cancelbtn, .signupbtn { 
       width: 100%; 
    } 
} 
</style> 
<body> 

<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Sign Up</button> 
  
<div id="signup" class="modal"> 
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span> 
  
  <form method="POST" class="modal-content animate" action="/register"> 
    <div class="container"> 
      <label><b>Username</b></label> 
      <input type="text" placeholder="Enter Username" name="username" required> 
  
      <label><b>Email</b></label> 
      <input type="text" placeholder="Enter Email" name="email" required> 
  
      <label><b>Password</b></label> 
      <input type="password" placeholder="Password" name="password" required> 
      <input type="checkbox" checked="checked"> Remember me 
  
      <div class="clearfix"> 
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button> 
        <button type="submit" class="signupbtn">Sign Up</button> 
      </div> 
    </div> 
    
  </form>     
</div> 

<button onclick=>Login</button> 
  
<div id="login" class="modal"> 
  <span onclick="document.getElementById('login').style.display='none'" class="close" title="Close Modal">×</span> 
  
  <form method="POST" class="modal-content animate" action="/login"> 
    <div class="container"> 
      <label><b>Username</b></label> 
      <input type="text" placeholder="Enter Username" name="username" required> 
  
      <label><b>Password</b></label> 
      <input type="password" placeholder="Password" name="password" required> 
      <input type="checkbox" checked="checked"> Remember me 
  
      <div class="clearfix"> 
        <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button> 
        <button type="submit" class="loginbtn">Log In</button> 
      </div> 
    </div> 
    
  </form>     
</div> 


  
var modal = document.getElementById('id01'); 
var modal = document.getElementById('id02'); 
  
window.onclick = function(event) { 
    if (event.target == modal) { 
        modal.style.display = "none"; 
    } 
} 
</script> 
  
</body> 
</html> 