* {
  box-sizing: border-box;
}

body{
    background-image: url("../images/landingpage/fullmovielibrary.png");
    background-repeat: repeat-x;
    background-repeat: repeat-y;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #160c55;
    font-size: 52px;
    left: 30;
}

h2{
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 45px; 
    font-style: oblique; 
    font-variant: small-caps; 
    font-weight: 100; 
    line-height: 30.8px;
}

h3{
    color: white;
    font-size: 35px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 30px; 
    font-style: normal; 
    font-variant: small-caps; 
    font-weight: 100; 
    line-height: 15.4px; 
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.hello{
    color: red;
}

i{
    color: white;
}


button{
    background: none;
    border: none;
}

/* .browseplaylists{
    position: aboslute ;

} */

/* .landingbackground{
    background-image: url("../images/landingpage/fullmovielibrary.png");
    background-repeat: repeat-x;
    background-repeat: repeat-y;
} */

.responsive{
    width: 95%;
    height: auto;
  }

.logo{
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 8px;
    box-shadow: 0 1px 0 0 rgba(212, 208, 252, 0.2), 0 6px 20px 0 rgba(91, 75, 233, 0.19);
    cursor:pointer;
}

.logo:hover{
        animation: pop 0.3s linear 1;
      }

@keyframes pop{
        50%  {transform: scale(1.2);}
      }

.userinfo {
    padding-top:10px;
    padding-bottom:10px;
    border-color: #160c55;
    border-radius: 10px;
    border:1px ;
    color:#a597f5;
    font-family: Arial, Helvetica, sans-serif;
}

.login{
    display: inline;
    background-color: #160c55;
    color:#f6f6f6;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-left:36px;
    padding-right:36px;
    padding-top:10px;
    padding-bottom:10px;
    size: 25px;
    margin-right: 10px;
}

.signup{
    display: inline;
    background-color: #4427ef;
    color: #f6f6f6;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
    size: 25px;
    margin-left: 10px; 
}

.whitebox{
    margin-left: auto;
    margin-right: auto;
    width: 42%;
    text-align: center;
    background-color: #f6f6f6;
    position: relative;
    padding-bottom: 13px;
    border-radius: 13px;
    position: relative;
    top: 25%;
    transform: perspective(1px) translateY(15%);
}

.feedbackground{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #040110;
    position: relative;
    padding-bottom: 13px;
    padding-top: 13px;
    border-radius: 13px;
    position: relative;
}

.playlistbackground{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #ffffff;
    position: relative;
    padding-bottom: 13px;
    padding-top: 13px;
    border-radius: 13px;
    position: relative;
}

.menu-box{
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    text-align: center;
    position: relative;
    padding-bottom: 5px;
    border-radius: 8px;
    position: fixed;
    float: left;
    left: 90%;
    bottom:15%
}

/* .trailer-box{
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    text-align: center;
    background-color: #ffffff;
    border-color: #8fa9ff;
    border-style:solid;
    position: relative;
    padding-bottom: 13px;
    border-radius: 13px;
    position: relative;
    top: 25%;
    transform: perspective(1px) translateY(15%);
} */

.walletsbackground{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color:#040110;
    position: relative;
    padding-bottom: 13px;
    padding-top: 13px;
    border-radius: 13px;
    position: relative;
}

.yes{
    display: inline;
    background-color: #39b543;
    color: #f6f6f6;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
    size: 25px;
    margin-left: 10px;
}

.no{
    display: inline;
    background-color:#ff4851;
    color: #f6f6f6;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
    size: 25px;
    margin-left: 10px;
    opacity: 5;
}

.maybe{
    display: inline;
    background-color: #ffbc48;
    color: #f6f6f6;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
    size: 25px;
    margin-left: 10px;
}

.playlists{
    display: inline;
    background-color: #4427ef;
    color: #f6f6f6;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
    size: 25px;
    margin-left: 10px;
    box-shadow: 0 3px 3px 0 rgba(212, 208, 252, 0.2), 0 6px 20px 0 rgba(91, 75, 233, 0.19);
}

.wallets-box{
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    text-align: center;
    background-color: #ffffff;
    border-color: #8fa9ff;
    border-style:solid;
    position: relative;
    padding-bottom: 13px;
    border-radius: 13px;
    position: relative;
    top: 25%;
    transform: perspective(1px) translateY(15%);
}

.feed-sorters{
    display: inline;
    color:#f6f6f6;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-left:36px;
    padding-right:36px;
    padding-top:10px;
    padding-bottom:10px;
    size: 25px;
    margin-right: 10px;
}

.hiddenThings{
    display: none;
}

.info-box{
    background-attachment: #040110;
    font-size: 30px;
    width: 100%;
    height: 40%;
    text-align: center;
}

.movieUnit{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 28px; font-style: normal; font-variant: normal; font-weight: 100; line-height: 44.8px; 
    color:white;
    font-size: 25px;
    border: 1px solid;
    background-color:#040110;
    border-bottom-color: #4427ef;
}
/*  background: linear-gradient(to right,  #3717f0 0%, #160c55 100%); */

.poster{
    width: 150px;
    height: 65px;
    text-align: left;
    box-shadow: 0 3px 3px 3px rgba(105, 93, 240, 0.2), 0 6px 20px 0 rgba(80, 61, 244, 0.19);
    float:bottom;
}

.genre{
    padding-right: 5%;
    color:white;
}

.actors{
    padding-right: 5%;
    color:white;
}

.plot{
    padding-left: 25%;
    color:white;
    margin-right: 25%;
}

.title{
    padding-right: 5%;
    color:white;
    font-size: 45px;
    margin: none;

}

.imdbLink{
    padding-right: 3%;
    color:white;
}

.hello-title{
    color:white;
    margin-top: 0px;
    margin-bottom: 0px;
}

.hello-genre{
    color:white;
    margin-top: 1%;
    margin-bottom: 0px;
}

.hello-actors{
    color:white;
    margin-top: 0px;
    margin-bottom: 0px;
}

.hello-plot{
    padding-right: 10%;
    color:white;
    margin-top: 0px;
    margin-bottom: 0px;
}

.hello{
    color:white;
    margin-bottom: 1%;
}

.posterborder{
    border-right:1px solid white;
    padding-top: 1%;
}

/* #search {
  background-image: url("../images/feedicons/searchicon.png");
  background-position: 10px 12px;
  border-radius: 13px;
  background-repeat: no-repeat;
  width: 30%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #4427ef;
  margin-bottom: 12px;
} */

/* #myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  /* background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
} */

#yes-i{
    display: inline;
    background-color: #39b543;
    color:#f6f6f6;
    padding: 16px 16px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-right: 10px;
    opacity: 0.7px;
    filter: alpha(opacity=50);
    box-shadow: 0 3px 3px 0 rgba(212, 252, 208, 0.2), 0 6px 20px 0 rgba(75, 233, 120, 0.19);
    margin-bottom: 5px;
}

#yes-i :hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
  }

#no-i{
    display: inline;
    background-color:#ff4851;
    color:#f6f6f6;
    padding: 16px 16px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-right: 10px;
    opacity: 0.7px;
    filter: alpha(opacity=50);
    box-shadow: 0 3px 3px 0 rgba(252, 208, 212, 0.2), 0 6px 20px 0 rgba(233, 75, 88, 0.19);
    margin-bottom: 5px;
}

#no-i:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
  }

#maybe-i{
    display: inline;
    background-color: #ffbc48;
    color:#f6f6f6;
    padding: 16px 16px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-right: 10px;
    opacity: 0.7px;
    filter: alpha(opacity=50);
    box-shadow: 0 3px 3px 0 rgba(245, 215, 139, 0.2), 0 6px 20px 0 rgba(233, 162, 75, 0.19);
    margin-bottom: 5px;
}
#maybe-i:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
  }

#info-i{
    display: inline;
    background-color: #4427ef;
    color:#f6f6f6;
    padding: 16px 16px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-right: 10px;
    opacity: 0.5px;
    filter: alpha(opacity=50); 
    box-shadow: 0 3px 3px 0 rgba(212, 208, 252, 0.2), 0 6px 20px 0 rgba(91, 75, 233, 0.19);
    margin-bottom: 5px;
}
#info-i:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
  }

#yes{
    position: absolute;
    top: -175px;
    right: 10%;
    width:100px;
    height: 100px;
    font-size: 18px;
    float: right;
    opacity: 1;
}

/* #yes:hover {
    opacity: 1.0;
    filter: alpha(opacity=50); 
  } */

#no{
    position: absolute;
    left: -35%;
    top: -175px;
    font-size: 18px;
    float: left;
    opacity: 1;
    width:100px;
    height: 100px;
}


/* #no:hover {
    opacity: 1.0;
    filter: alpha(opacity=50); 
  } */

#maybe{
  position: absolute;
  text-align: center;
  top:-240px;
  bottom: -100px;
  left: -6%;
  font-size: 18px;
  float: top;
  width:107px;
  height: 100px;
  filter: alpha(opacity=50);
}
/*  top: -150;
  opacity: 1; */
/* 
#maybe:hover {
    opacity: 1.0;
    filter: alpha(opacity=50); 
  } */
  

#info{
    position: absolute;
    text-align:center;
    float: bottom;
    left: -6%;
    bottom: 5%;
    width: 200px;
    height: 200px;
    opacity: 1;
    filter: alpha(opacity=50);
    padding-top: 65px;
    padding-right: 100px;
    margin-right: 100px;
}
/* #info:hover {
    opacity: 1.0;
    filter: alpha(opacity=50); 
  } */

#wallet{
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
    size: 25px;
    margin-right: 10px;
    border-radius: 8px;
}

#playlists{
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
    size: 25px;
    margin-left: 10px;
    box-shadow: 0 1px 0 0 rgba(212, 208, 252, 0.2), 0 6px 20px 0 rgba(91, 75, 233, 0.19);
}

#trailer-box{
    margin-left: auto;
    margin-right: auto;
    margin-top: -35px;
    width: 80%;
    height: -95%;
    text-align: center;
    border-color: #8fa9ff;
    border-style:solid;
    padding-bottom: .5px;
    position: relative;
    top: 45%;
    transform: perspective(1px) translateY(15%);
    box-shadow: 0 3px 3px 1px rgba(212, 208, 252, 0.2), 0 6px 20px 0 rgba(91, 75, 233, 0.19);
}

#weightedRandom{
    background-color: #160c55;
    color:#f6f6f6;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-left:3px;
    padding-right:3px;
    padding-top:10px;
    padding-bottom:10px;
    margin-right: 10px;
}

/* #infoSpan{
    color:#75c0fa;
    font-size: 30px;
    border: 10px solid;
    border-color: #f6f6f6;
    border-bottom-color: #4427ef;
    width: 50%;
    height: 40%;

} */

#poster{
    height: 20%;
    float: left;
    width: 315px;
    border-bottom: 50px solid #160c55;
    padding: 10px;
    border-image: url(https://upload.wikimedia.org/wikipedia/commons/4/4d/Film_strip.svg) 30 round;
   
}

#plot{
    padding-right: 32%;
    padding-left: 28%;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 28px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 100; 
    line-height: 44.8pxpx; 
}

#actors{
    padding-right: 30%;
    padding-left: 25%;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 28px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 100; 
    line-height: 44.8pxpx; 
    margin-top: 1%;
    margin-bottom: 1%;
}

#year{
    padding-right: 24%;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 28px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 100; 
    line-height: 44.8pxpx; 
    margin-bottom: 1%;
}

#imdbLink{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-right: 23%;
}
            


/* display: inline;
column-rule-width: 30%; */